@font-face {
  font-family: "Helvetia Now";
  src: url("HelveticaNowDisplayXBlk.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 12px; */
  font-family: Helvetica Now, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
